[package]
name = "twirl"
version = "0.1.0"
authors = ["Robbie Huffman <robbie.huffman@gmail.com>"]

[dependencies]
time = "*"
piston = "0.32.0"
piston2d-graphics = "0.21.1"
pistoncore-glutin_window = "0.37.0"
piston2d-opengl_graphics = "0.44.0"

[profile.release]
lto = true
